



if r.userName != ''
  | #{r.userName}


<br/>
<br/>

if r == ''
  | 没有任何数据呢
else
  each val, index in r.result
    | 问题 #{index+1}
    <a href='/question/#{val["qid"]}'>#{val["title"]}</a>
    <br/>
    

<br/>
<a href='/account/signup'>sign up</a>
<a href='/account/login'>log in</a>
<a href='/account/logout'>log out</a>












