
<script src="js/jquery-2.1.4.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/normalize.css">
<link rel="stylesheet" type="text/css" href="css/i.css">

<div id='left'>
<div id='title'>
快问教练
</div>
</div>

<div id='middle'>
<article>
<section>问题标题</section>
<section>票数，头像</section>
<section>回答</section>
<article>
</div>

<div id='profile'>
头像，名字，通知
<div id='name'>王可可</div>
</div>

<div id='question_box'></div>












