<html>
<head>
<meta charset="UTF-8">
</head>


<script src="js/jquery-2.1.4.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/normalize.css">
<link rel="stylesheet" type="text/css" href="css/i.css">
<!-- <script src="js/index.js"></script> -->

<div id='left'>
  <div id='title'>社区</div>
</div>



<div id='middle'>

  <div id='middle-top'>
    <div id='ask-q'>
    提问
    </div>
  </div>
  
  <article class='q'>
    <section class='q_title'>经常健身的人，跟健身前比有什么差别？</section>
    <section class='q_info'>
      <span class='q_vote'>1322</span>
      <span class='q_name'>王西湖</span>
    </section>
    <section class='q_a'>当反应堆出现异常工况时不依靠人为操作或外部设备的强制干预，只有反应堆自然安全性（堆功率的负反馈）和非能动的安全性（无需外部动力设备的安全性），控制反应性或移出堆芯热量，使反应堆趋于正常运行和安全停闭。高温气冷堆的燃料元件是弥散在石..</section>
  <article>
  
  
    <article class='q'>
    <section class='q_title'>经常健身的人，跟健身前比有什么差别？</section>
    <section class='q_info'>
      <span class='q_vote'></span>
      <span class='q_name'></span>
    </section>
    <section class='q_a'></section>
  <article>
  
  
</div>


<!--
<div id='profile'>
头像，名字，通知
<div id='name'>王可可</div>
</div>
-->

<div id='new_question' style='display:none;'>
  <div id='q_box'>
  <div id='q_title'>提问</div>
  <div id='q_close'>x</div>
  <textarea id='q_content' resizeable='false'>
  </textarea>
  <div id='q_next'>下一步</div>
  </div>
</div>

<script>
$(function(){

  
    $.ajax({
      method: "POST",
      url: "/ajax-index",
      context: document.body,
    }).done(function(r) {
       //console.log(r);
       var j = JSON.parse(r);
       for(var k in j) {
           console.log(k, j[k]);
        }
    });




  // 点击提交, 显示窗口
  $('#ask-q').click(function(event){
    $('#new_question').show();
  });
  
  // 点击背景隐藏窗口
  $('#new_question').click(function(event){
    $('#new_question').hide();
  });
  
  // 只要点击事件不冒泡, 就可以做到点击背景隐藏窗口, 
  // 但是点击窗口不会误触发隐藏事件.
  $('#q_box').click(function(event){
    event.stopPropagation();
  });
  
  
  // 提交问题
  $('#q_next').click(function(event){
     var c = $('#q_content').val();
     if($.trim(c) == ''){
        alert("问题不能为空");
        return;
     }
     
    //  http://api.jquery.com/jquery.ajax/
    $.ajax({
      method: "POST",
      url: "/h_submit",
      context: document.body,
      data: { title: c }
    }).done(function() {
      $( this ).addClass( "done" );
    });
     
     
     
  });
  
  
   
});
</script>









