<html>

<head>
<meta charset="UTF-8">
<base href="/">
<script src="js/jquery-2.1.4.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/normalize.css">
<link rel="stylesheet" type="text/css" href="css/q.css">
</head>



<div id='left'>
  <a href='/'>
  <div id='title'>社区</div>
  </a>
</div>



<div id='middle'>
  <div id='q_title'>
    当下流行的健身方式中有哪些是错误的？
  </div>
  
  
  
  <textarea id='q_answer_box'>
  </textarea>
  
  <input id='q_answer_button' type='submit' value='回答'>
  
</div>



<script>
$(function(){


   
});
</script>


</body>
</html>

