<!doctype html>
<html>
  <head>
  </head>

  <body>
    <h2>Sign up</h2>
    <form action='./handle_signup' method='post'>
       <input type='text' placeholder='username' name='un' >
       <br>
       <input type='password' placeholder='password' name='pwd'>
       <br>
       <input type='password' placeholder='confirm password' name='confirm_pwd'>
       <br>
       <input type='submit' value='Sign Up' >
    </form>
  <body>

</html>
